body {
    background-color: #1e1e1e;
}

main header img {
    margin-top: 3vh;
    max-height: 12vh;
    max-width: 100vw;
}

main content img {
    padding-bottom: 3vh;
    max-height: 57vh;
    max-width: 100vw;
}

main ad img {
    max-height: 17vh;
    width: 100vw;
}

.modal-content {
    background-color: #1e1e1e;
    color: #ffffff;
}

.btn-close {
    background-color: #ffffff;
}

.modal img {
    max-height: 70vh;
    max-width: 80vw;
}